<%- include('partials/header') %> 
  <header>
    <h1 class="text-center">Book Inventory Home Page</h1>
    <p class="welcomeTxt">In this book inventory, you can store information about your book, edit or update book information, or delete book if you no longer need that book</p>
  </header>
  </section>
    
  <section class="container">
    <main>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Book One</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>

<%- include('partials/footer') %> 