header{
  padding: 5%;
}

.welcomeTxt{
  padding-top: 3%;
}

.tmb{
  display: flex;
  justify-content: center;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1% 3%;
  background-color: lightskyblue;
}